In [1]:
import pandas

Here we store the file path information to make it easier to run with different files

In [2]:
folder_path = "C:\\Users\\Aaron Jacobson\\Documents\\UWMSDS\\Fall2021\\DATA512\\DATA512-A4\\"
covid_cases_file = "RAW_us_confirmed_cases.csv\\RAW_us_confirmed_cases.csv"
covid_policy_file = "U.S._State_and_Territorial_Public_Mask_Mandates_From_April_10__2020_through_August_15__2021_by_County_by_Day.csv"
mask_use_file = "mask-use-by-county.csv"

In [4]:
df_cases = pandas.read_csv(folder_path + covid_cases_file)
df_policy = pandas.read_csv(folder_path + covid_policy_file)
df_masks = pandas.read_csv(folder_path + mask_use_file)

In [8]:
county_state = "New York"
county_name = "Queens"

df_cases = df_cases[df_cases['Province_State'] == county_state]
df_cases = df_cases[df_cases['Admin2'] == county_name]
df_cases

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,10/25/21,10/26/21,10/27/21,10/28/21,10/29/21,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21
1943,New York,Queens,84036081,US,USA,840,36081.0,US,40.710881,-73.816847,...,316202,316390,316522,316522,316837,316837,316837,317545,317667,317855

In [25]:
df_cases_t = df_cases.drop([
    'Province_State', 
    'Admin2', 
    'UID', 
    'iso2', 
    'iso3', 
    'code3', 
    'FIPS', 
    'Country_Region', 
    'Lat', 
    'Long_',
    'Combined_Key'], axis=1).transpose().rename({1943:'Cases'}, axis=1)

In [36]:
df_policy_queens = df_policy[df_policy['County_Name'] == 'Queens County']

In [49]:
county_fips = df_cases['FIPS'].values[0]

In [52]:
df_masks_queens = df_masks[df_masks['COUNTYFP'] == county_fips]

In [57]:
df_cases_t['increase'] = df_cases_t['Cases'] - df_cases_t.shift(1)['Cases']

In [59]:
df_cases_t['increase_percent'] = df_cases_t['increase'] / df_cases_t['Cases']
df_cases_t

           Cases  increase  increase_percent
1/22/20        0       NaN               NaN
1/23/20        0       0.0               NaN
1/24/20        0       0.0               NaN
1/25/20        0       0.0               NaN
1/26/20        0       0.0               NaN
...          ...       ...               ...
10/30/21  316837       0.0          0.000000
10/31/21  316837       0.0          0.000000
11/1/21   317545     708.0          0.002230
11/2/21   317667     122.0          0.000384
11/3/21   317855     188.0          0.000591

[652 rows x 3 columns]

In [60]:
df_cases_t.transpose()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,10/25/21,10/26/21,10/27/21,10/28/21,10/29/21,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21
Cases,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,316202.000000,316390.000000,316522.000000,316522.0,316837.000000,316837.0,316837.0,317545.00000,317667.000000,317855.000000
increase,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,606.000000,188.000000,132.000000,0.0,315.000000,0.0,0.0,708.00000,122.000000,188.000000
increase_percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001916,0.000594,0.000417,0.0,0.000994,0.0,0.0,0.00223,0.000384,0.000591

In [62]:
df_policy_queens = df_policy_queens[['date','Face_Masks_Required_in_Public']]

              date Face_Masks_Required_in_Public
497138   4/10/2020                           NaN
497139   4/11/2020                           NaN
497140   4/12/2020                           NaN
497141   4/13/2020                           NaN
497142   4/14/2020                           NaN
...            ...                           ...
1284236  8/11/2021                            No
1284237  8/12/2021                            No
1284238  8/13/2021                            No
1284239  8/14/2021                            No
1284240  8/15/2021                            No

[493 rows x 2 columns]

In [66]:
df_policy_queens

              date Face_Masks_Required_in_Public
497138   4/10/2020                           NaN
497139   4/11/2020                           NaN
497140   4/12/2020                           NaN
497141   4/13/2020                           NaN
497142   4/14/2020                           NaN
...            ...                           ...
1284236  8/11/2021                            No
1284237  8/12/2021                            No
1284238  8/13/2021                            No
1284239  8/14/2021                            No
1284240  8/15/2021                            No

[493 rows x 2 columns]

In [69]:
df_cases_t['date'] = df_cases_t.index

In [75]:
df_cases_t['date']

1/22/20      1/22/20
1/23/20      1/23/20
1/24/20      1/24/20
1/25/20      1/25/20
1/26/20      1/26/20
              ...
10/30/21    10/30/21
10/31/21    10/31/21
11/1/21      11/1/21
11/2/21      11/2/21
11/3/21      11/3/21
Name: date, Length: 652, dtype: object

In [91]:
df_policy_queens['date'] = df_policy_queens['date'].str[:-4] + df_policy_queens['date'].str[-2:]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [97]:
df_merged = df_cases_t.merge(df_policy_queens, how='outer', left_on='date', right_on='date')

In [98]:
df_merged

,Cases,increase,increase_percent,date,Face_Masks_Required_in_Public
0,0,NaN,NaN,1/22/20,NaN
1,0,0.0,NaN,1/23/20,NaN
2,0,0.0,NaN,1/24/20,NaN
3,0,0.0,NaN,1/25/20,NaN
4,0,0.0,NaN,1/26/20,NaN
...,...,...,...,...,...
647,316837,0.0,0.000000,10/30/21,NaN
648,316837,0.0,0.000000,10/31/21,NaN
649,317545,708.0,0.002230,11/1/21,NaN
650,317667,122.0,0.000384,11/2/21,NaN
651,317855,188.0,0.000591,11/3/21,NaN

In [ ]:
import matplotlib.pyplot as plt
plt.plot(df_merged['increase_percent'])